:root {
        --primary-text-color: #757575;
        --title-color: #212121;
        --link-hover-color: #2196F3;
        --primary-bg-color: #2F303A;
        --bg-color-wite: #fff;
        --bg-color-grey: #F5F4FA;
 

}

body{
        font-family: Roboto, sans-serif;
        background: #fff;
        color: var(--primary-text-color);
        font-size: 14px;
        line-height: 1.33;
    }

        .list {
            list-style: none;
        }
    

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
}

.logo:hover {
    color: var(--link-hover-color);
}

.logo-web {
    color: var(--link-hover-color)
}

.site-nav .link {
    color: #212121;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--link-hover-color);
}










        






























/* цвет основного текста
#212121
цвет h1 #FFFFFF
цвет web #2196F3
цвет p, header #757575
цвет backround #2F303A
цвет backround наша команда #F5F4FA
*/