/* Палітра кольорів */
/* Колір акценту #2196F3;*/
/* Чорний #000000 */
/* Колір заголовків #212121 */
/* Колір основного тексту #757575 */
/* Додатковий колір фону #2F303A */
/* Колір другорядного тексту #F5F4FA */
/* Основний колір фону #FFFFFF */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --background-color-title: #2f303a;
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}

ul {
  list-style: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-accent-color {
  color: #2196f3;
}

.black-logo {
  color: #000;
}

.white-logo {
  color: #ffffff;
}

.page-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.menu-list,
.link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* ===HERO=== */

.hero {
  background-color: var(--background-color-title);
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--background-color-title);
}

.header-contact-item {
  list-style-type: none;
  list-style: none;
}

.contact-link.number,
.contact-link.mail {
  color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  text-decoration: none;
}
/* --FEATURES-- */

.featute-list-item {
  list-style-type: none;
}

.feature-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.feature-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* ====WHAT WE DO==== */

.we-do-item {
  list-style-type: none;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* ====OUR TEAM==== */

.our-team {
  background-color: #f5f4fa;
}

.team-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 18;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 18px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
